iframe {
  display: none;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.area {
  width: 506px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  border: 3px dashed transparent;
  transition: border-color 0.3s;
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid silver;
}

.cell--active {
  background-color: green;
}

.btn {
  transition: transofm 0.5s, background-color 0.5s;
}

.btn-active {
  transform: scale(1.1);
  background-color: #c8ff79;
}

.area--edit {
  border-color: green;
}
